// Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral
$transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
$very-light-gray-bg-hd-btn: hsl(0, 0%, 95%);

// Fonts
$default-font: 0.9375rem;
$font-weight-400: 400;
$font-weight-700: 700;

// font famely
$lexend-deca: "Lexend Deca", sans-serif;
$big-shoulders-display: "Big Shoulders Display", cursive;
